*.pyc
*~
*.db
.idea
local.ini*
.project
.pydevproject
data/attachments/*
data/submissions/*
data/schemas/*
data/builds/*
submissions/*
export/*
bad/*
rapidsms-django.log*
rapidsms.log*
data/*
1.0_migration/tmp/*
1.0_migration/errors/*
startover.sh